// Specific CSS for your home-page
#home {
  max-width: 100%;
  padding: 0 12px 40px;
}

#banner {
    margin-top: 170px;
}
.home-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
  margin: 50px 0;
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 3rem;
    }
    .button-wrapper{
      .button {
        width: 100%;
      }
    }
  }
  .img-wrapper{
    display: flex;
    flex-direction: column;
    img{
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

#customers {
  text-align: center;
  margin: 50px 0;
}

#grow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .section-img {
    margin-bottom: 2rem;
  }
  .section-title {
    font-weight: 800;
  }
  .card {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
    margin-top: 2rem;
    grid-gap: 24px;
    border-radius: 1rem;
    padding: 3rem 4rem;
    background-color: white;
  }
}
