// Specific CSS for your home-page
#home {
  max-width: 100%;
  padding: 0 12px 40px;
  .button {
    width: 100%;
    @media (min-width:"767px") {
      width: 220px;
    }
  }
}

#banner {
  margin-top: 170px;
  @media (min-width:"767px") {
     margin-top: 170px;
  }
}
.home-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
  margin: 50px 0;
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 3rem;
    }

  }
  .img-wrapper{
    display: flex;
    flex-direction: column;
    img{
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  @media (min-width:"767px") {
     grid-template-columns: 7fr 5fr;
     width: 90%;
     margin: 200px auto;
  }
}

#customers {
  text-align: center;
  margin: 50px 0;
}

#grow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .section-img {
    margin-bottom: 2rem;
  }
  .section-title {
    font-weight: 800;
  }
  .card {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
    margin-top: 2rem;
    grid-gap: 24px;
    border-radius: 1rem;
    padding: 3rem 4rem;
    background-color: white;
  }
  .cta {
    margin-top: 6rem;
  }

  @media (min-width:"767px") {
    .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 25px;
    }
  }
}

#partners {
  margin: 6rem 0;
  .section-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .section-img {
      margin-bottom: 2rem;
    }
    .section-title {
      font-weight: 800;
    }
  }
  .partner-links {
    background-color: white;
    margin: 4rem 0;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

}
